html{overflow-y:scroll;overflow-x:hidden;}
body { color:#777;-webkit-text-size-adjust:none; color:#464646 ; font:normal 12px/24px 'Microsoft Yahei',Tahoma,'Simsun'; word-wrap:break-word;    }
a { text-decoration:none; color:#444  }
a:focus {outline:none; }
.dn { display:none; }
#fsUploadProgress {
	overflow-x:hidden; overflow-y:auto;position:relative;background:#fff;height:280px;
	margin: 20px;
}
#fsUploadProgress input[disabled]{ border: 1px solid #ccc }/* FF 2 Fix */
#fsUploadProgress label { width: 150px; text-align: right; display:block; margin-right: 5px;}
#uploadfirstwrapper {border:1px solid rgba(0,0,0,0.1);float:left;position:absolute;}
.blueBtn {background:#5DAA1D;background: -moz-linear-gradient(center top , #78c221, #5DAA1D);background: -webkit-gradient(linear, 0 0, 0 100%, from(#78c221),to(#5DAA1D) );
border: 1px solid #23770c;box-shadow: 0 1px 0 #9DD35D inset;color: #FFFFFF;font-weight: normal;}
.whiteBtn {background: -moz-linear-gradient(center top , #F5F5F5, #EDEDED) repeat scroll 0 0 transparent;border: 1px solid #E0E0E0;box-shadow: 0 1px 0 #FEFEFE inset;color: #000000;font-weight: normal;}
.atMC {position:absolute;top:130px;left:190px;width:168px;height:43px;overflow:hidden;}
.atMC span{display:block;text-align:center;color:#FFFFFF;padding-top:10px;font-size:16px;cursor:pointer;position:absolute;left:0;right:0;}
.upload-buttonpane {padding-top:25px;}
.transparent{opacity:0.001;height:43px;cursor:pointer;line-height:43px;position:absolute;right:0;top:0;font-size:43px;}  
.clearfix {
	*zoom:1;
}  
.clearfix:after { display:block; content:"clear"; height:0; clear:both; overflow:hidden; visibility:hidden; }
.clearfix {
	height: 32px;
}  
.r { float:right; }
.r2{border-radius:2px;} 
.small-btn { width:84px; height:30px; line-height:30px;}
.pt10{
	padding-top:10px;
}
#log {
	margin: 0;
	padding: 0;
	width: 500px;
}

#log li {
	list-style-position: inside;
	margin: 2px;
	border: 1px solid #ccc;
	padding: 10px;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	background: #fff;
	position: relative;
}

#log li .progressbar {
	border: 1px solid #333;
	height: 18px;
	background: #fff;
}

#log li .progress {
	background: #71b2eb;  
	width: 0%;
	height: 18px;
}

#log li p {
	margin: 0;
	line-height: 18px;
}


#log li.success {
	border: 1px solid #339933;
	background: #ccf9b9;
}

#log li span.stopUpload {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20px;
	height: 20px;
	background: url('../img/close.png') no-repeat;
	
	cursor: pointer;
}

#img span.cancel {
	background: url('<?php echo __THEME__;?>/img/upload/cancel.png') no-repeat;
}