#help_up_button{
  background:url("loushanghelp/help_up.png") no-repeat !important;
  width:34px;
  height:29px;
  outline:none;
  cursor:pointer;
                 
}
#help_up_button:hover{
  background:url("loushanghelp/help_up2.png") no-repeat !important;
}
#help_add_button{
  background:url("loushanghelp/help_add.png") no-repeat !important;
  width:34px;
  height:29px;
  outline:none;
  cursor:pointer;
}
#help_add_button{
  background:url("loushanghelp/help_add2.png") no-repeat !important;
}
#help_delete_button{
  background:url("loushanghelp/help_delete.png") no-repeat !important;
  width:34px;
  height:29px;
  outline:none;
  cursor:pointer;
}
#help_delete_button{
  background:url("loushanghelp/help_delete2.png") no-repeat !important;
}
#help_down_button{
  background:url("loushanghelp/help_down.png") !important;
  width:34px;
  height:29px;
  outline:none;
  cursor:pointer;
}
#help_down_button{
	 background:url("loushanghelp/help_down2.png") !important;
}