@charset "utf-8";
/* CSS Document */

.page-area{
	width:1200px;
	margin:0 auto;
	font-family:'黑体','微软雅黑','宋体';
	font-size:12px;
}
#company-banner{
	background-color:#f2f6f9;
	height:208px;
}
#company-banner .banner-block{
	float:left;
	margin-top:22px;
}
#company-banner .banner-block .company-logo{
	height:154px;
	width:154px;
	display:inline-block;
	margin-left:22px;
}
#company-banner .banner-block .company-info{
	display:inline-block;
	margin-left:22px;
	width:390px;
}
#company-banner .banner-block .company-info ul li{
	margin-bottom:8px;
	font-size:14px;
	
}
#company-banner .banner-block .company-info ul li:first-child{
	font-size:20px;
	margin-bottom:16px;
}
#company-banner .banner-block .company-assess{
	display:inline-block;
	margin-left:20px;
	width:300px;
    color:#636b6d;
}
#company-banner .banner-block .company-assess .shop-score{
	display:inline-block;
	width:120px;

}
#company-banner .banner-block .company-assess .shop-score ul li{
	margin-bottom:11px;
}
#company-banner .banner-block .company-assess .shop-score ul li span:last-child{
	color:#3b7a8b;
	font-weight:600;
}
#company-banner .banner-block .company-assess .shop-score ul li:first-child{
	font-weight:500;
}
#company-banner .banner-block .company-assess .industry-score{
	display:inline-block;
	margin-left:16px;
}
#company-banner .banner-block .company-assess .industry-score .score-high,.score-low{
	width:26px;
	height:17px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	color:#fff;
	display:inline-block;
	line-height:17px;
	padding-left:3px;
}
#company-banner .banner-block .company-assess .industry-score ul li{
	margin-bottom:8px;

}
#company-banner .banner-block .company-assess .industry-score ul li:first-child{
	font-weight:500;
	margin-bottom:9px;
}
#company-banner .banner-block .company-assess .industry-score .score-high{
	background-color:#9d0014;

}
#company-banner .banner-block .company-assess .industry-score .score-low{
	background-color:#1e7203;
}
#company-banner .banner-block .company-assess .industry-score .score-high-text{
	color:#9d0014;
	font-weight:600;
}
#company-banner .banner-block .company-assess .industry-score .score-low-text{
	color:#1e7203;
	font-weight:600;
}
#company-banner .banner-block .join-img{
	display:inline-block;
	height:140px;
	width:190px;
	margin-left:20px;
}
#product-show{
	width:1200px;
	overflow:hidden;
	margin:0 auto; 
}
#product-show .product-top{
	height:36px;
	background-color:#f7f7f7;
	border:1px solid #dddddd;
	margin-top:45px;
	color:#686868;
	font-size:12px;
}
#product-show .product-top span{
    display:inline-block;
	margin-left:7px;
}
#product-show .product-top span:first-child{
	margin-left:11px;
}
.product-sort-button-active{
	padding:0px 10px 0px 10px;
	background-color:#e43a3d;
	line-height:26px;
	border:0;
	height:26px;
	margin-top:7px;
	font-weight:600;
	color:#fff;
	margin-left:-7px;
}
.product-sort-button{
	padding:0px 10px 0px 10px;
	background-color:#fefefe;
	line-height:26px;
	border:1px solid #cccccc;
	height:26px;
    color:#686868;
}
#items_show{
	width:1200px;
	overflow:hidden;
	margin:0 auto; 
	}
#items_show ul{
	display:block;
	}
#items_show ul li{
	display:block;
	float:left;
	width:220px;
	height:400px;
	border-bottom: 1px dashed #dbdbdb;
	padding:0 10px;
	margin:0 auto;
	}
#items_show ul li a{
	color:#333333;
	}
#items_show ul li .p_img{
	margin:20px auto 0 auto;
	width:207px;
	height:230px;
	background-color:#f2f2f2;
	}
#items_show ul li .p_img a{
	display:block;
	margin:auto auto;
	width:160px;
	height:160px;
	}
#items_show ul li .p_content{
	height:116px;
	width:207px;
	margin:20px auto 0 auto;
}
#items_show ul li .p_content .p_name{
	overflow:hidden;
	font-size:12px;
	color:#666666;
	width:207px;
	}
#items_show ul li .p_content .p_name p{
	margin-bottom:8px;
}
#items_show ul li .p_content .p_price{
	width:215px;
	height:20px;
	width:207px;
	color:#e6393d;
	margin-bottom:8px;
	font-weight:600;
	}
#items_show ul li .p_content .p_assess{
	width:207px;
	height:20px;
	font-size:12px;
	line-height:20px;
}
#items_show ul li .p_content .p_assess span:last-child{
	float:right;
	color:#005aa0;
}
#items_show ul li .p_content .btns{
	width:207px;
	font-size:12px;
	color:#333333;
	
}
#items_show ul li .p_content .btns .add-to-cart{
	display:inline-block;
	background-color:#f4f4f4;
	border:1px solid #dddddd;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	margin-left:4px;
	padding:5px 8px 5px 8px;
	}
#items_show ul li .p_content .btns .product-sort-button{
	display:inline-block;
	background-color:#f4f4f4;
	border:1px solid #dddddd;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	margin-left:4px;
	padding:5px 8px 5px 8px;
	}	
#items_show ul li .p_content .btns .compare{
	display:inline-block;
	background-color:#f4f4f4;
	border:1px solid #dddddd;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	padding:5px 8px 4px 8px;
}
#items_show ul li .p_content .btns .compare input{
	vertical-align: middle;
	margin-left:-2px;
	border:0;
	border:1px solid #dcdcdc;
	-webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
#items_show ul li .p_content .btns .compare label{
	margin-left:7px;
	vertical-align:middle;
	
}