body{
	background:#eaeaeb;
	color:#6d6d6d;
	font-size:13px;
}
#main-wraper{
	width:100%;
	margin:0 auto;
	
}
#mc-logo{
	height:60px;
	background:url(img/logo-bj.jpg) no-repeat center;
}
#mc-logo .logo-img{
	width:61px;
	height:55px;
	background:url(img/logo-img.png) no-repeat;
	float:left;
	margin-left:10px;
}
#mc-logo .logo-text{
	width:100px;
	height:27px;
	background:url(img/logo-text.png) no-repeat;
	float:left;
	margin-left:20px;
	margin-top:15px;
}
#mc-content{
	position:relative;
	background:#FFF;
}
#menu{
	width:200px;
	height:500px;
	position:absolute;
	top:0;
	left:0;
	border-right:#f2f2f2 1px solid;
	background:#f6f7fb;
}
#main{
	margin-left:200px;
	height:500px;
}
.menu-list{
	padding-top:20px;
}
.menu-list li{
	display:none;
	height:45px;
	line-height:45px;
	padding-left:10px;
	cursor:pointer;
}
.menu-list li:hover{
	background:#1471b4;
	color:#FFF;
	font-weight:bold;
}
.menu-list li.current{
	background:#1471b4;
	color:#FFF;
	font-weight:bold;
}
.menu-list li .text{
	display:block;
	float:left;
	padding-left:25px;
	background-repeat:no-repeat;
	background-position:0px 12px ;
	
}
.menu-list li .text#m1{
	background-image:url(img/f.png);
}
.menu-list li .text#m2{
	background-image:url(img/c.png);
}
.menu-list li .text#m3{
	background-image:url(img/b.png);
}
.menu-list li .text#m4{
	background-image:url(img/d.png);
}
.menu-list li .text#m5{
	background-image:url(img/e.png);
}
.menu-list li .text#m6{
	background-image:url(img/g.png);
}
.menu-list li .text#m7{
	background-image:url(img/a.png);
}
.menu-list li:hover .text#m1{
	background-image:url(img/f1.png);
}
.menu-list li:hover .text#m2{
	background-image:url(img/c1.png);
}
.menu-list li:hover .text#m3{
	background-image:url(img/b1.png);
}
.menu-list li:hover .text#m4{
	background-image:url(img/d1.png);
}
.menu-list li:hover .text#m5{
	background-image:url(img/e1.png);
}
.menu-list li:hover .text#m6{
	background-image:url(img/g1.png);
}
.menu-list li:hover .text#m7{
	background-image:url(img/a1.png);
}
.menu-list li.current .text#m1{
	background-image:url(img/f1.png);
}
.menu-list li.current .text#m2{
	background-image:url(img/c1.png);
}
.menu-list li.current .text#m3{
	background-image:url(img/b1.png);
}
.menu-list li.current .text#m4{
	background-image:url(img/d1.png);
}
.menu-list li.current .text#m5{
	background-image:url(img/e1.png);
}
.menu-list li.current .text#m6{
	background-image:url(img/g1.png);
}
.menu-list li.current .text#m7{
	background-image:url(img/a1.png);
}
.menu-list li .num{
	color:#F00;
	float:left;
	font-weight:bold;
}
.menu-list li:hover .new{
	display:block;
}
.menu-list li.current .new{
	display:block;
}
.menu-list li .new{
	line-height:19px;
	float:right;
	display:block;
	width:44px;
	height:19px;
	background:url(img/new.png) no-repeat;
	text-align:center;
	font-size:12px;
	display:none;
	margin-top:12px;
	margin-right:10px;
	color:#1471b4;
	font-size:11px;
}
#main-iframe{
	width:100%;
	height:500px;
}