.v6report-nocall{
	margin-top:8px;
	width:100%;
	height:200px;
	color:#bfbebe;
	font-size:15px;
	background:url(query-first.png) center 60px no-repeat;
	background-color:#f4f3f3;
	border:1px solid #ddd;
	text-algin:center;
}
.v6report-nocall-text{
	width:160px;
	margin-top:125px;
	margin-left:auto;
	margin-right:auto;
}
body{
	margin:0;
	padding:0;
}
.v6report-title{
	padding-top:4px;
	padding-bottom:4px;
	overflow:hidden;
}

.v6report-btns{
	width:14px;
	height:14px;
	float:right;
	background:url(btns.png) no-repeat;
	float:right;
	cursor:pointer;
	margin-right:10px;
}
.v6report-btns:hover{
	background:url(btns-active.png) no-repeat;
}
.v6report-btns.active{
	background:url(btns-active.png) no-repeat;
}
.v6report-btns.icon-expand {
	background-position: 0 0;
}
.v6report-btns.icon-file-excel {
	background-position: -30px 0;
}
.v6report-btns.icon-bars {
	background-position: -60px 0;
}
.v6report-btns.icon-filter {
	background-position: -90px 0;
}
.v6report-btns.icon-printer {
	background-position: -120px 0;
}
.v6report-btns.icon-compose {
	background-position: -150px 0;
}
.v6report-btns.icon-share {
	background-position: -180px 0;
}
.v6report-btns.icon-column-filter {
	background-position: -210px 0;
}

.v6report-table-container{
	border:#ddd 1px solid;
	background-color:#eeeeee;
	position:relative;
}
.v6report-table-container.nodata{
	min-height:250px;
}

.v6report-headblock{
	float:left;
	position:relative;
}
.v6report-headblock.shadow{
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.32);
	-moz-box-shadow: 0 5px 5px rgba(0,0,0,0.32);
	box-shadow: 0 5px 5px rgba(0,0,0,0.32);
	z-index:9999;
}
.v6report-thead-view{
	display:inline-block;
	float:left;
	overflow:hidden;
	position:relative;
}
.v6report-thead-view.shadow{
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.32);
	-moz-box-shadow: 0 5px 5px rgba(0,0,0,0.32);
	box-shadow: 0 5px 5px rgba(0,0,0,0.32);
	z-index:9998;
}
.v6report-table-body{
	float:left;
	background:url(loading.gif) center no-repeat;
}
.v6report-table-body.nodata{
	background:none;
}
.v6report-table-body.nodata .v6report-tbody-view{
	display:none;
}
.v6report-table-body .nodata-hold{
	width:115px;
	height:50px;
	color:#bfbebe;
	padding-left:50px;
	line-height:50px;
	font-size:15px;
	margin:60px auto;
	background:url(nothing-content.png) no-repeat;
}

.pop-checkbox-container{
	min-width:200px;
	min-height:100px;
	border:1px solid;
	background-color:#FFFFFF;
	position:absolute;
	padding:10px;
	display:none;
	z-index:999;
	top:0;
	left:0;
	
}
.pop-checkbox-container .pop-title{
    margin-top:10px;
    border-bottom:#008080 1px solid;
}
.pop-checkbox-container .pop-list ul{
	max-height:300px;
	overflow:auto;
	margin:10px 0;
	border:1px solid #ebebeb;
	overflow:auto;
}
.pop-checkbox-container .pop-list ul,li{
	list-style:none;
}
.pop-checkbox-container .pop-list li{
    display:block;
    margin-left:10px;
}
.pop-checkbox-container .pop-des{
	display:none;
	color:#FF0000;
}
#edit-checkbox-container{
	left:200px;
	top:100px;
}
.v6report-colhead-view{
	overflow:hidden;
	float:left;
	position:relative;
	z-index:99;
}
.v6report-colhead-view.shadow{

	-webkit-box-shadow: 3px 0 5px rgba(0,0,0,0.32);
	-moz-box-shadow: 3px 0 5px rgba(0,0,0,0.32);
	box-shadow: 3px 0 5px rgba(0,0,0,0.32);

	z-index:99991;
}
.v6report-tbody-view{
	overflow-x:auto;
	overflow-y:hidden;
	float:left;
	position:relative;
}
.v6report-tr{
	position:absolute;
	background-color:#fff;
}
.v6report-tr.szline{
	background-color:#f9f9f9;
}
.v6report-td{
	font-size:13px;
	color:#343434;
	height:30px;/*行高相关*/
	background:url(border-left-bottom.png) right bottom;
	text-align:right;
	line-height:30px;/*行高相关*/
	font-size: 13px;
}
.v6report-thead .v6report-td.sortable a{
	color:#444444;
	text-decoration:none;
}
.v6report-thead .v6report-td.sortable a:hover{
	
}
.v6report-headblock .v6report-td.sortable a{
	color:#444444;
	text-decoration:none;
}
.v6report-headblock .v6report-td.sortable a:hover{
	text-decoration:underline;
}
.v6report-td .content{
	margin-right:8px;
	margin-left:8px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	word-break:keep-all;
}
.v6report-merge-td{
	font-size:13px;
	color:#343434;
	background:url(border-left-bottom.png) right bottom;
	text-align:center;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	word-break:keep-all;
	position:absolute;
	z-index:1;
}
.v6report-tbody{
	position:relative;
}
.v6report-tbody .v6report-tr.active{
	background:#fdf3e4;
}
.v6report-tbody .v6report-merge-td{
	background-color:#FFFFFF;
	text-align:right;
}
.v6report-tbody .v6report-tr .v6report-td{
	*float:left;
	display:inline-block;
}
.v6report-thead{
	table-layout:fixed;
	border-collapse:collapse;
	border:none;
}
.v6report-thead tr{
	background-color: #eee;
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f9f9f9), to(#eeeeee));
	background-image: -webkit-linear-gradient(top, #f9f9f9, 0%, #eeeeee, 100%);
	background-image: -moz-linear-gradient(top, #f9f9f9 0%, #eeeeee 100%);
	background-image: linear-gradient(to bottom, #f9f9f9 0%, #eeeeee 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffeeeeee', GradientType=0);
}
.v6report-thead .v6report-td{
	text-align:center;
	font-weight:bold;
	position:relative;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 12px;
	font-weight: 800;
	background-color: transparent;
	border-bottom-width: 1px;
	vertical-align: middle;
}
.v6report-headblock .v6report-td{
	text-align:center;
	font-weight:800;
	position:relative;
}
.v6report-thead .v6report-td .filter-table-td,.v6report-headblock .v6report-td .filter-table-td{
	width:16px;
	height:16px;
	background:url(filter-btn.png) no-repeat;
	background-position-y:center;
	position:absolute;
	cursor:pointer;
	top:0;
	right:10px;
}
.v6report-thead .v6report-td img.extendBtn,.v6report-headblock .v6report-td img.extendBtn{
	width:16px;
	height:16px;
	position:absolute;
	cursor:pointer;
	top:6px;
	right:10px;
}
.v6report-thead .v6report-td .filter-table-td.active,.v6report-headblock .v6report-td .filter-table-td.active{
	background:url(filter-active-btn.gif) no-repeat;
}
.v6report-cloumhead{
	position:relative;
}
.v6report-cloumhead .v6report-merge-td{
	background-color:#f7f7f7;
}
.v6report-cloumhead .v6report-td{
	background-color:#f7f7f7;
	*float:left;
	display:inline-block;
	text-align:center;
}
.v6report-cloumhead .v6report-tr.active .v6report-td{
	background-color:#fdf3e4;
}
.scollBarContainer{
	width:18px;
	position:absolute;
	right:0px;
	overflow-y:scroll;
	z-index:100;
}
.scollBar{
	width:1px;
	position:absolute;
}
.v6report-fullbox{
	position:absolute;
	top:0px;
	left:0px;
	background:#FFF;
	z-index:99999;
}
.v6report-exitfull{
	width:64px;
	height:60px;
	background:url(exitAllScreen.png);
	position:fixed;
	top:30px;
	right:40px;
	cursor:pointer;
	z-index:99999;
}
.v6report-loading{
	background:#ebebeb url(loading.gif) no-repeat center 40%;
	position:absolute;
	top:0px;
	left:0px;
	z-index:999999;
}
.v6report-textalign-left{
	text-align:left;
}
.v6report-textalign-right{
	text-align:right;
}
.v6report-textalign-center{
	text-align:center;
}
.v6report-table-body .v6report-td a{
	display:block;
	text-decoration:none;
}
#v6report-edit-container{
	position:relative;
}
#v6report-edit-container #search-container{
	margin:10px 0;
	padding-top:10px;
	padding-left:10px;
	background:url(top-bg.png);
}
#v6report-edit-container #search-container .searchButton{
	margin-bottom:10px;
	margin-right:10px;
	float:left;
}
#v6report-edit-container #search-container .searchButton .dragBtn,#v6report-edit-container .dim-continer .dragBtn{
	display:block;
	height:22px;
	background:url(drag-bg.png) repeat-x;
	border:1px solid #0f3097;
	color:#FFFFFF;
	line-height:22px;
	padding-left:10px;
	padding-right:10px;
	margin-right:5px;
	cursor:pointer;	
	float:left;
}
#v6report-edit-container #search-container .searchButton .dragBtn:hover,#v6report-edit-container .dim-continer .dragBtn:hover{
	background:url(drag-bg-a.png) repeat-x;
	border:1px solid #165fbe;
}
#v6report-edit-container .dim-continer{
	height:40px;
	margin:10px 0;
	border:1px solid #e9eff2;
	background-color:#e9eff2;
}
#v6report-edit-container .dim-continer .title{
	width:50px;
	height:40px;
	line-height:40px;
	float:left;
}
#v6report-edit-container .dim-continer span{
	line-height:40px;
}
#v6report-edit-container .active-drop-container{
	background-color:#b4d7e8;
}
#v6report-edit-container .dim-continer .axisDimdragBtn{
	margin-top:10px;
}
#v6report-edit-container .dim-continer .axisDimdragBtn .closeAxisDim{
	width:11px;
	height:10px;
	background:url(close.png) no-repeat;
	float:right;
	margin-top:6px;
	cursor:pointer;
}
#v6report-edit-container .dim-continer .axisDimdragBtn .closeAxisDim:hover{
	background:url(close.png) 0 -10px no-repeat;
}
.v6report-thead{
}
.w20{
	width:20px;
}
.w40{
	width:40px;
}
.w60{
	width:60px;
}
.w80{
	width:80px;
}
.w100{
	width:100px;
}
.w120{
	width:120px;
}
.w140{
	width:140px;
}
.w160{
	width:160px;
}
.w180{
	width:180px;
}
.w200{
	width:200px;
}
.w220{
	width:220px;
}
.w240{
	width:240px;
}
.w260{
	width:260px;
}
.w280{
	width:280px;
}
.w300{
	width:300px;
}
.w320{
	width:320px;
}
.w340{
	width:340px;
}
.w360{
	width:360px;
}
.w380{
	width:380px;
}
.w400{
	width:400px;
}
.w420{
	width:420px;
}
.w440{
	width:440px;
}
.w420{
	width:420px;
}
.w440{
	width:440px;
}
.w420{
	width:420px;
}
.w440{
	width:440px;
}
.w420{
	width:420px;
}
.w440{
	width:440px;
}
.w420{
	width:420px;
}
.w440{
	width:440px;
}
.w420{
	width:420px;
}
.w440{
	width:440px;
}
.w460{
	width:460px;
}
.w480{
	width:480px;
}
.w500{
	width:500px;
}
.w520{
	width:520px;
}
.w540{
	width:540px;
}
.w560{
	width:560px;
}
.w580{
	width:580px;
}
.w600{
	width:600px;
}
.w720{
	width:720px;
}
.w740{
	width:740px;
}
.w760{
	width:760px;
}
.w780{
	width:780px;
}
.w800{
	width:800px;
}
.w820{
	width:820px;
}
.w840{
	width:840px;
}
.w860{
	width:860px;
}
.w880{
	width:880px;
}
.w900{
	width:900px;
}
.w920{
	width:920px;
}
.w940{
	width:940px;
}
.w960{
	width:960px;
}
.w980{
	width:980px;
}
.w1000{
	width:1000px;
}
.report-table-descriptor{
   font-size:12px;
   float:right;
   margin-right:15px;
   display:block;
}
.report-table-info{
   font-size:12px;
   float:left;
   display:block;
   max-width:500px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
.share-group-box{
	width:250px;
	min-height:110px;
	border:#CACACA 1px solid;
	position:absolute;
	background:#fff;
	z-index:10000;
}
.share-group-title{
	line-height:30px;
	padding-left:5px;
}
.group-list{
	line-height:20px;
	margin-left:10px;
	margin-right:10px;
	margin-top:5px;
	cursor:pointer;
}
.group-list:hover{
	background:#ebf4f7;
}
.group-key{
	float:left;
	margin-top:3px;
}
.group-img{
	float:left;
	margin-left:5px;
}
.group-name{
	float:left;
	margin-left:10px;
	width:130px;
}
.share-box-spe-line{
	width:100px;
	border-top:#CCC 1px dashed;
}
.share-text-box{
	margin-left:5px;
}
.share-text-box{
	margin-top:10px;
}
.share-text-box-title{
}
.share-text{
	width:190px;
	height:60px;
	margin-left:5px;
}
.share-group-btns{
	margin-top:10px;
	margin-bottom:5px;
}
.share-group-btns button{
	margin-left:5px;
}
.share-no-group{
	ling-height:20px;
	margin-top:10px;
	margin-left:5px;
}
.v6report-drag-position{
    height:100%;
    border-left:1px solid #b4d1f9;
    width:1px;
    position:relative;
    z-index:10;
    display:none;
}
.v6report-thead td{
	position:relative;
}
.v6report-drag{
	position:absolute;
	right:0px;
	top:-1px;
    width:3px;
    height:100%;    
    cursor:w-resize;
}
.v6report-drag:hover{
	width:2px;
    border-left:1px dashed #ced5df;
}

.v6report-htmltable { 
	margin:10px; 
	border-collapse:collapse; 
	margin:5px auto;
	width:100%;

}
.v6report-htmltable th, .v6report-htmltable td {
	border:#000 1px solid;
	padding:3px 5px 
}
@media print {
	.no-print { display: none; }
}
.table-title{
	text-align:center;
	font-size:14px;
	margin-bottom:10px;
}
.fl{
	float:left
}
.fr{
	float:right;
}
.table-info{
	
}
.graphChangeBtn .dataConButton{
	margin-left:10px;
}
.highchartContainer{
	margin-bottom:20px;
}
.list-container{
	max-height:300px;
	overflow:auto;
}
.steploading{
	width:200px;
	height:30px;
	position:absolute;
	top:0;
	left:0;
	z-index:99999999;
}

