 
 .grid-view {
	padding: 0;
	border-color: #A9ACAF;
	background-color: #A9ACAF;
	-webkit-border-radius: 8px;
	width: 300px;
	height:300px;
	margin: 0 auto;
} 
  .grid-view .app  li {
	float: left;
	width: 25%;
	margin: 0 0 6px;
}

 .grid-view .app dl {
	font-size: .75em;
	text-align: center;
}