.header {
	 margin-top: -22px; 
	display: block;
	/* -webkit-transform: translateX(0);
	-webkit-transform: translate3d(0, 0, 0); */
	/* position: absolute; */
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
}
header {
	/* position: relative;
	z-index: 1; */
	/* height: 44px; */
	background-color: #2697db;
	/* -webkit-box-sizing: border-box; */
	border-width: 22px 0 1px;
	-webkit-border-image: url(mobile/bg-head.png) 22 0 1 0;
	color: white;
	font-weight: bold;
	text-shadow: rgba(0, 0, 0, 0.7) 0 -1px 0;
	text-align: center;
}

header a {
	color: white;
	font-weight: bold;
	text-shadow: rgba(0, 0, 0, 0.7) 0 -1px 0;
}

.header-btn-left {
	position: absolute;
/* 	border-width: 0 10px 0 10px;
 */	top: 6px;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-decoration: none;
	max-width: 15%;
	height: 32px;
	line-height: 32px;
	font-size: 13px;
	-webkit-border-radius: 4px;
	z-index: 1;
	left: 4px;
	-webkit-border-image: url(mobile/button-back.png) 0 10 0 15;
	/* -webkit-border-top-left-radius: 22px;
	-webkit-border-bottom-left-radius: 22px; */
}
.header-btn-left-arr {
	width: 10px;
	border: 0px solid #3EB1F0;
		background: url(mobile/arrow_left.png) 0 0 no-repeat;
}
.header-btn-left-arr:active { 
		background: url(mobile/arrow_left.png) 0 0 no-repeat;
}
.header-btn-left:hover {
	-webkit-border-image: url(mobile/button-back-touch.png) 0 10 0 15 !important;
}
.header-btn-left:active {
	-webkit-border-image: url(mobile/button-back-touch.png) 0 10 0 15 !important;
}
.header-btn-right {
	left: auto;
	right: 4px;
	display: block;
	padding: 0;
	position: absolute;
	/* border-width: 0 10px 0 10px; */
	top: 6px;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-decoration: none;
	max-width: 15%;
	height: 32px;
	line-height: 32px;
	font-size: 13px;
	-webkit-border-radius: 4px;
	z-index: 1;
	-webkit-border-image: url(mobile/button-simple.png) 0 10 0 10;
}
.header-btn-right-arr {
	width: 10px;
	border: 0px solid #3EB1F0;
	background: url(mobile/arrow_right.png) 0 0 no-repeat;
}
.header-btn-right-arr:active { 
		background: url(mobile/arrow_right.png) 0 0 no-repeat;
}
.header-btn-right {
	-webkit-border-image: url(mobile/button-simple.png) 0 10 0 15 !important;
}
.header-btn-right:active {
	-webkit-border-image: url(mobile/button-simple-touch.png) 0 10 0 15 !important;
}
.header-btn-right:hover {
	-webkit-border-image: url(mobile/button-simple-touch.png) 0 10 0 15 !important;
}
header .title {
	border: 0px;
	color: inherit;
	font-weight: bold;
	-webkit-user-select: none;
	line-height: 44px;
	text-align: center;
	font-size: 20px;
	letter-spacing: -1px;
	white-space: nowrap;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	margin-left: 20px;
	margin-right: 20px;
	top: 0;
	bottom: 0;
	-webkit-transform: translateX(0px);
	text-shadow: rgba(0, 0, 0, 0.7) 0 -1px 0;
}

.rightButtonContainer {
	text-align: right;
	display: block;
}
