a.button:hover {
background-image: -moz-linear-gradient(top, #f7a134,#f7a134,#f96b28,#f96b28);
background-image: -webkit-gradient(linear, left top, left bottom, from(#f96b28), to(#f7a134));
background-image: linear-gradient(bottom, #f96b28 100%, #f7a134 0%);
}

a.button {
border-bottom: 1px solid rgba(0, 0, 0, 0.2);
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
color: #fff;
cursor: pointer;
display: inline-block;
font-weight: bold;
line-height: 1;
overflow: visible;
padding: 5px 15px;
position: relative;
text-decoration: none;
text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
font-size: 1.2em;
background-image: linear-gradient(bottom, #f96b28 100%, #f7a134 0%);
background-image: -moz-linear-gradient(top, #f96b28,#f96b28,#f7a134,#f7a134);
background-image: -webkit-gradient(linear, left top, left bottom, from(#f7a134), to(#f96b28));
}
a:hover {
color: #f60;

cursor: pointer;
}



a {
text-decoration: none;
padding-bottom: 1px;

color: #36c;
cursor: pointer;
}

.yellow:hover {
background-color: rgb(247,161,46);
}


.yellow {
background-color: rgb(255,196,77);
background-image: url("button/yellow.png");
}
 .list .one-img dl {
font-size: .75em;
text-align: center;
}

ul, li {
list-style: none;
}