.dyWidgetContainer {
	position: absolute;
	top: 40px;
	left: auto;
	right: auto;
}
#dyWidgetContainerHeader {
	width: 100%;
	height: 33px;
	line-height: 33px;
}
#wselDiv {
	float: right;
}
.userWidget2 {
	width: 300px;
	height: 200px;
	margin: 2px;
	float: left;
	border-bottom: 1px dashed #d1d1d1;
	text-shadow: 1px 1px 1px #fff;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	letter-spacing: -1px;
}
.wtitleDiv {
	margin-top: 2px;
  margin-bottom:5px;
	font: bold 15px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-left:5px solid #fcab1b;
	padding-left:15px;
	width: 100%;
	cursor: pointer;
}
.userWidget2 .tableDiv {
	margin-top: 2px;
	margin-left: 2px;
	margin-right: 2px;
}
.chartDiv {
	width: 100%;
}
.userWidget2 th.title {
	color: #ffffff;
	border-left: 1px solid #C1DAD7;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	text-transform: uppercase;
	padding: 6px 0px 6px 0px;
	background: #528fbe ;
	text-align: center;
	font: bold 13px;	
	line-height: 10px;
	
}
.userWidget2 td {
	border-left: 1px solid #C1DAD7;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 0px 6px 0px;
	color: #4f6b72;
	font-size: 13px;
	line-height: 10px;
}
.userWidget2 td.alt {
	background: #F5FAFA;
	color: #797268;
}
.userWidget2 td.coltitle {
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
}
.userWidget2 td.coldata {
	text-align: right;
	white-space: nowrap;
	overflow: hidden;
}
.col2Div {
	width:110px;
	height:35px;
	line-height:35px;
	margin-left:10px;
	margin-top:5px;
	font-size: 14px;
	text-align: center;
	background:#fafafa;
	border-radius: 4px;
}
.col2DivText {
	width:130px;
	text-align:center;
	color:#ffffff;
	margin-top:10px;
}
.col2ContentHeader{
 width:130px;
 height:70px;
 float:left;
 background:#5fa6b8;
 border-radius: 3px;
 margin-top:5px;
	}
.col2ContentCenter{
	width:130px;
	height:70px;
	float:left;
	margin-left:10px;
	background:#5fa6b8;
	border-radius: 3px;
	margin-top:5px;
	}	