@charset "utf-8";
/* CSS Document */

/****页面宽度设定*****/
.w1200 {min-width:1200px;width:100%;}
.w1200 .w{width:1200px;margin:0 auto;overflow:hidden;}

/*****公用布局****/
#container{width:100%;overflow:hidden;}
#content{overflow:hidden;width: 100%;}
.bg01{background:#f0f0f0;}
/****头部尾部样式****/
#subNav{width:100%;background:#F4F4F4;}
#subNav .subNav{width:1200px;height:34px;line-height:34px;margin:0 auto;vertical-align:middle;color:#333;}
.sub-fl{float:left;display:block;}
.sub-fl a{color:#333;display:inline-block;vertical-align:middle;}
.sub-wel{display:inline-block;vertical-align:middle;}
.lgA{display:inline-block;margin-left:10px;color: #FC8F4A;}
.login-info{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;max-width:136px;display:inline-block;}
.regs{z-index: 99999;display:inline-block;*display:inline;position:relative;margin-left:10px;cursor:pointer;}
.regs-outer{position:relative;display:inline-block;width:80px;height:20px;line-height: 20px;text-align:center;background:#ff944c;border-radius:10px;color:#fff;}

.regs-outerEN{position:relative;display:inline-block;width:80px;height:20px;line-height: 20px;text-align:center;background:#ff944c;border-radius:5px;color:#fff;}
.regs-outerCN{position:relative;display:inline-block;width:80px;height:20px;line-height: 20px;text-align:center;border-radius:5px;}

.regs-outer em{position:absolute;top:8px;right:5px;display:inline-block;width:8px;height:5px;background:url(../images/icon-whiteAUp.png) no-repeat;}
.regs:hover em{top:7px;background:url(../images/icon-whiteADown.png) no-repeat;}
.regs-inner{display:none;position:absolute;top:34px;left:0px;width: 80px;text-align: center;background: #F4F4F4;color:#333;}
.regs-inner a{display:block;text-decoration:none;}
.regs-inner a:hover{background:#FF944C;color: #fff;}
.regs:hover .regs-inner{display:block;}
.quickLink{display: inline-block;float: right;}
.quickLink a{display:inline-block;height: 14px;line-height: 14px;margin-left:10px;padding-left: 10px;border-left: 1px solid #757575;color:#333;}
.quickLink a:first-child{margin-left:0;padding-left:0;border-left:none;}
.quickLink a.items{position:relative;padding-right:10px;}
.quickLink a.items:hover{text-decoration:none;}
.quickLink .items em{position: absolute;top:4px;right:0;display:inline-block;width:8px;height:5px;background:url(../images/icon-grayDown.png) no-repeat;}
.quickLink .items:hover em{background:url(../images/icon-grayUp.png) no-repeat;}
.search{z-index:100;width:1200px;height:100px;margin:0 auto;position:relative;}
.search .logo{z-index:3;position:absolute;left:0;top:25px;display:block;width:170px;height:50px;overflow:hidden;}
.search .logo img{display:inline-block;width:100%;height:100%;}
.search .searchCon{display:block;position:absolute;top:30px;left:391px;width:560px;height:40px;background:#f60;letter-spacing:1px;z-index:3;}
.srh-inner{position:absolute;top:2px;left:2px;width:498px;height:36px;background:#fff;}
.language{z-index: 99999;display:inline-block;*display:inline;position:relative;margin-left:10px;cursor:pointer;float: right;}
.language-outer{position:relative;display:inline-block;width:80px;height: 14px;line-height: 14px;text-align:center;    border-left: 1px solid #757575; color: #333;}
.language-outer em{position:absolute;top: 5px;right:5px;display:inline-block;width:8px;height:5px;background:url(../images/icon-grayDown.png) no-repeat;}
.language:hover em{top:4px;background:url(../images/icon-grayUp.png) no-repeat;}
.language-inner{display:none;position:absolute;top:34px;left:0px;width: 80px;text-align: center;background: #F4F4F4;color:#333;}
.language-inner a{display:block;text-decoration:none;}
.language-inner a:hover{background:#FF944C;color: #fff;}
.language:hover .language-inner{display:block;}
/*Select*/ 
.selectContainer{position:relative;width:88px;height:36px;display:inline-block;_display:inline;_zoom:1;z-index:1000;letter-spacing:1px;background:#fff;} 
.selectContainer .selectOption{display: inline-block;width:100%;height:36px;line-height:36px;text-align:center;z-index:1000;font-size:12px;color:#999;cursor: pointer;} 
.selectContainer .shows{position:absolute;right:4px;top:15px;width:8px;height:5px;background: url(../images/icon-grayDown.png) no-repeat;} 
.selectContainer .shows{}
.selectContainer ul{position:absolute;top:36px;left:-0px;width:100%;border:1px solid #CCC;border-top:0;z-index:1001;display:none;} 
.selectContainer ul li{padding:0 5px;line-height:25px;text-align:center;background:#fff;cursor:pointer} 
.selectContainer ul li:hover{background:#F5F5F5;} 
.selectContainer ul.dis{display:block!important;} 
.selectContainer ul.undis{display:none!important;} 
.search .searchCon input{position:absolute;top:5px;left:95px;width:340px;height:26px;line-height:26px;border:0;border-left:1px solid #ddd;outline-style:none;vertical-align:middle;padding-left:4px;padding-bottom:0px !important;background:#fff;}
.search .searchCon a.btnA{position:absolute;right:0;top:0;display:block;width:60px;height:40px;background:#f60;}
.search .searchCon a.btnA em{display: inline-block;position:absolute;top:50%;left:50%;width:23px;height:20px;margin-top:-10px;margin-left:-11px;background:url(../images/icon-srh.png) no-repeat;}

/***浮动搜索栏***/
#search,#store{width:100%;}
.fixedModel{z-index:999999;position:fixed;top:0;left:0;border-bottom:1px solid #ddd;}
.fixedModel .search{height:80px;}
.fixedModel .search .logo{top:15px;left:175px;}
.fixedModel .search .searchCon{top:20px;left:465px;}
#store.fixedModel{padding-top:0;}
.fixedModel .store{height:65px;margin-top:0;padding-bottom:0px !important;padding-top:15px;}
.store .logo{display:block;width:170px;height:50px;}

#mainNav{width:100%;clear:both;background:#606060;}
#mainNav .mainNav{position:relative;width:1200px;margin:0 auto;height:40px;clear:both;z-index:99;color:#fff;}
.navList{float:left;height:40px;line-height:40px;}
.navList li{float:left;height:40px;line-height:40px;padding:0 20px;margin-left:2px;}
.navList li:first-child{margin-left:0px;}
.navList li:hover,.navList li.active{background:#f60;}
.navList li a{display:block;color:#fff;font-size:14px;}
.navList li a:hover{text-decoration:none;}
.mainNav-srh{float:right;height:40px;line-height:40px;}
.mainNav-srh .srh-input{width:210px;height:27px;line-height:27px;vertical-align:middle;padding:0 4px;border:1px solid #c5c5c5;border-radius:2px;}
.mainNav-srh .srh-input:focus{outline:none;}
.mainNav-srh .srh-link{display:inline-block;width:29px;height:29px;vertical-align:middle;margin-left:5px;background:url(../images/mainNav-srhBg.png) center center no-repeat;}

#category{position:relative;height:40px;width:200px;z-index:101;float:left;}
#category > h2{display:block;height:40px;line-height:40px;overflow:hidden;font-size:14px;text-align:center;background:#606060;cursor:pointer;}

#category .mainMenu,#category #mainMenu{position:absolute;top:40px;left:0;z-index:10000;width:198px;height:408px;border:1px solid #ddd;background:#fff;}
#category #mainMenu{display:none;}
#mainMenuCon{position:relative;display:block;width:100%;float:left;padding-top: 4px;clear:both;}
.mainMenuConDt{position:relative;height:24px;line-height:24px;margin:0 2px 0px 5px;padding-left:10px;border-bottom:1px dotted #ddd;font-size:12px;cursor:pointer;overflow:hidden;}
.mainMenuConDt b,.mainMenuConDt em{display:inline-block;position:absolute;top:50%;}
.mainMenuConDt b{left:0;width:5px;height:3px;margin-top:-2px;background:url(../images/icon-cateBefore.png) no-repeat;}
.mainMenuConDt em{right:5px;width:7px;height:7px;margin-top:-3px;background:url(../images/icon-cateAfter.png) no-repeat;}

.menuIn{position:relative;}
.menuIn .mainMenuConDt a{color:#666;text-decoration:none;}
.menuOut{display:none;width:600px;position:absolute;z-index:900;top:-1px;left:198px;background:#fff;border:1px solid #ddd;padding:10px; min-height:80px;}
.menuOut2{display:none;height:24px;width:5px;position:absolute;top:0px;left:197px;z-index:999;background:#fff;}

/* .menuIn:hover em{display:none;}
.menuIn:hover .menuOut{display:block;}
.menuIn:hover .menuOut2{display:block;} */

.menuOut h2{display:inline-block;width:150px;float:left;line-height:25px;vertical-align:middle;text-align:right;cursor:pointer;}
.menuOut h2 a{font-size:12px;color:#333;font-weight:bold;}
.menuOut p{line-height:25px;display:inline-block;width:380px;float:left;vertical-align:middle;}
.menuOut p a{font-size:12px;color:#333 !important;white-space:nowrap;float:left;margin-left:10px;line-height:25px;}
.menuOut-inner{overflow:hidden;}

#service{background:#f9f9f9;overflow:hidden;}
#service .service{overflow:hidden;padding:50px 0;}
.service ul{overflow:hidden;text-align:center;}
.service ul li{display:inline-block;*display:inline;*zoom:1;line-height:25px;overflow:hidden;text-align: left;vertical-align: top;padding:0 50px;}
.service ul li h3{font-size:16px;color:#333;font-weight:bold;padding-left:15px;overflow:hidden; height:25px; position:relative; z-index:3;margin-bottom:10px;}
.service ul li h3 b{position:absolute;top:4px; left:2px; z-index:1;display:inline-block;*display:inline;*zoom:1;width:6px;height:16px;overflow:hidden;background:url(../images/icon-servsI.png) no-repeat;}
.service ul li a{display:block;padding-left:15px;height:30px;line-height:30px;color:#666;font-size: 14px;}
.service ul li a:hover{text-decoration:none;cursor:pointer;}
#footer{width:100%;overflow:hidden;color:#333;background:#f9f9f9;padding-bottom:10px;}
#footer .footer{ padding:15px;padding-top: 0;text-align:center; line-height:28px;}
.footer-inner{display:inline-block;*display:inline;*zoom:1;padding:30px 45px;border-top: 1px solid #eee;text-align:center;font-size: 13px;}
.footer-inner a:hover{text-decoration:none;}
.footer-inner p{margin-bottom:5px;}

.floatR{z-index:999999;position:fixed;right:0;top:65%;cursor:pointer;}
.floatR a{display:block;width:58px;height:58px;margin-bottom:5px;}
.floatR a.serV{background:url(../images/serv.png) center center no-repeat;}
.floatR a.serV:hover{background:url(../images/serv-hover.png) center center no-repeat;}
.floatR a.goTop{display:none;background:url(../images/goTop.png) center center no-repeat;}
.floatR a.goTop:hover{background:url(../images/goTop-hover.png) center center no-repeat;}

/****首页修改****/
.subRight{display:block; float:right; width:300px;}
.subRightA{position:relative; display:block; float:left; padding-right:20px; z-index:9999;}
.subRightA ul{display:none; position:absolute; background:#fafafa; border-radius:5px; width:90px; left:-1px; top:34px;}
.subRightA:hover a{text-decoration:none;}
.subRightA:hover ul{display:block;}
.subRightA ul li:hover{background:#ddd;  border-radius:5px;}
.subRightA  ul li{padding:0 5px; z-index:10; font-size:12px;}
.subRightA em{position: absolute;top:14px;right:10px;display:inline-block;width:8px;height:5px;background:url(../images/icon-grayDown.png) no-repeat;}
.subRightA:hover em{background:url(../images/icon-grayUp.png) no-repeat;}
/****网站地图****/
.mapMes{display:block; text-align:left; min-height:600px; margin-top:10px; padding-bottom:14px; line-height:18px;}
.pos{background:#f0f0f0; }
.posC{font-size:12px; margin:0 auto; width:1100px;background: #fff none repeat scroll 0 0;margin-top: 10px !important;padding: 10px 0;}
.posC a{ padding-left:15px;}
.bb2{border-bottom:2px solid #f60; font-weight:700; height:16px; line-height:16px; font-size:16px; padding:0 0 5px 1px;}
.mapFistFloor{padding-top:10px; padding-right:0; padding-bottom:3px; border-bottom:1px solid #ddd; position:relative;}
.mapFistFloorLeft{width:570px; margin-left:0; overflow:hidden; float:left;}
.mapFistFloorLeft dl{margin-bottom:22px; padding-bottom:9px; line-height:16px;}
.mapFistFloorLeft dl dt{font-size:14px; color:333; font-weight:700; margin-bottom:3px;}
.mapFistFloorLeft dl dd a{color:#06c;}
.mapFistFloorLeft dl dd a:hover{color:#f60;}
.mapFistFloor div.pr28{padding-right:28px;}
.mapOtherFloor{border-bottom:none; margin-top:20px; width:598px;}
.mapOtherFloor h3{border:none; padding-left:0; font-size:14px; height:16px; line-height:16px; font-weight:700; color:333;}
.mapOtherFloor div{ clear:both; padding:8px 0; text-align:left; font-size:14px; border:0;}
.mapOtherFloor div a{color:#06c;}
/****网站地图详情****/
.mapdetailtop{ clear:both; padding:8px 0; text-align:left; font-size:14px; border:0;}
.mapdetailtop a{color:#06c;}
.colL{width:100%; float:left;}
.colRmargin{text-align:left;}
.one4{width:25%}
.column{float:left;}
.column a{color:#039; }