@charset "utf-8";
/* CSS Document */
.firstScreen,.firstScreenR,.firstScreenL{overflow:hidden;}
.firstScreen{padding-left:201px;}
.firstScreenL{float:left;width:739px;height:410px;} 
.firstScreenR{float:right;width:247px;height:400px; background:#fff;border: 1px solid #23b485;border-top: none;padding-bottom: 10px;}
.adsBanner{overflow:hidden;height:410px;position:relative;margin: 0 auto;}
.adsBanner .adsBannerBd{height:100%;position:relative;overflow: hidden;}
.adsBanner .adsBannerBd ul{height:100%;overflow:hidden;}
.adsBanner .adsBannerBd ul li{display:block;width:100%;height:100%; position: relative;}
.adsBanner .adsBannerBd ul li a{height:100%;display:block;} 
.adsBanner .adsBannerHd{position:absolute;bottom:10px;right:50%;margin-right:-40px;height:16px;display:inline-block;*display:inline;*zoom:1;z-index:1;}
.adsBanner .adsBannerHd li{float:left;width:15px;height:16px;margin-right:5px;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;background:#fff;}
.adsBanner .adsBannerHd li.on{background:#3dbba6;}

.fSR_news {overflow:hidden; height: 340px;}
.fSR_news li{ line-height:20px; width:230px; display:block;overflow:hidden;margin-bottom: 4px;}
.firnews_title{ height:40px; line-height:40px; border-bottom:1px solid #e8e8e7;}
.firnews_titleL{ font-size:14px; padding-left:20px; position:relative;}
.firnews_titleL b{ width:4px; height:20px; position:absolute; left:10px; top:11px;background:#57b50b;}
.firnews_titleR{ padding-right:5px;}
.adsBannerBd .prev,.adsBannerBd .next { display: none; width: 40px; height: 150px; background: url(../images/btn.png) no-repeat; position: absolute; top: 130px;}
.adsBannerBd .prev { left: 0; }
.adsBannerBd .next { right: 0; background-position: right; }
.w1190-banner {margin:0 auto;width:1190px;}


/*****楼层****/
.floor{position: relative;overflow:hidden;}
.floor-tit{height:42px;padding-left:50px;}
.floor-tit span{position: absolute;top:0;left:0;font-size:36px;color:#3dbba6;}
.floor-tit-more{position:relative;margin-top:5px;height:16px;line-height:16px;padding-left:40px;}
.floor-tit-more b{position:absolute;top:5px;left:0;width:30px;height:6px;background:#3dbba6;}
.floor-l{float:left;width:240px;height:651px;overflow:hidden;}
.floorBanner{overflow:hidden;height:410px;position:relative;}
.floorBanner .floorBannerBd{height:100%;position:relative;}
.floorBanner .floorBannerBd ul{height:100%;overflow:hidden;}
.floorBanner .floorBannerBd ul li{display:block;width:100%;height:100%;}
.floorBanner .floorBannerBd ul li a{height:100%;display:block;} 
.floorBanner .floorBannerHd{position:absolute;bottom:20px;left:20px;height:5px;display:inline-block;*display:inline;*zoom:1;z-index:1;}
.floorBanner .floorBannerHd li{float:left;width:30px;height:5px;margin-right:10px;cursor:pointer;background-color:#fff;}
.floorBanner .floorBannerHd li.on{background-color:#3dbba6;}

.brandTable{width:240px;height:240px;border-bottom: 1px solid #eee;border-right: 1px solid #eee;table-layout: fixed;border-collapse:collapse;border-spacing: 0;}
.brandTable td{vertical-align: middle;margin:0;padding:0;border-top: 1px solid #eee;border-left: 1px solid #eee;}
.brandTable td a{display:block;width:100%;height:100%;overflow:hidden;}
.brandTable td a img{display:block;}
.brandTable td a:hover{filter:alpha(opacity=85);-moz-border-radius:0.85;-khtml-opacity:0.85;opacity:0.85;}
.brand-list{width:240px;height:210px;overflow:hidden;}
.brand-list li{float:left;width:90px; height:40px; line-height:40px; text-align:center;}

.floor-r{float:right;width:959px;height:649px;overflow:hidden;}
.floor-r .pro-list{width:100%;height:100%;margin-top:-1px;}
.floor-r .pro-list li{float:left;width:238px;height:324px;overflow:hidden;border-left:1px solid #eee;border-top:1px solid #eee;}
.floor-r .pro-list .pro-pic{display:block;width:214px;height:210px;margin:0 auto;margin-top:15px;}
.floor-r .pro-list .pro-pic img{display:block;width:210px;height:210px;margin:0 auto;}
.floor-r .pro-list .pro-pic img:hover{width:220px;height:220px;}
.floor-r .pro-list .pro-info{height:36px;line-height:18px;overflow: hidden;margin:10px 15px 0px 15px;}
.floor-r .pro-list .price-info{position:relative;height:42px;margin-right:15px;margin-left:15px;}
.floor-r .pro-list .oldPrice{position:absolute;bottom:5px;left:0;}
.floor-r .pro-list .newPrice{position:absolute;top:0;right:0;}

.tjBrand-tit{position:relative;padding-top:15px;}
.tjBrand-tit b{position:absolute;top:0;left:0;display:block;width:30px;height:6px;background:#3dbba6;}
.tjBrandList{width:1200px;height:80px;overflow:hidden; position:relative;}
.tjBrandList .next{position:absolute;width:20px;height:78px;border:1px solid #eee;overflow:hidden;padding: 0;cursor:pointer;}
.tjBrandList .prev{position:absolute;width:20px;height:78px;border:1px solid #eee;overflow:hidden;cursor:pointer;}
.tjBrandList .prev b,.tjBrandList .next b{width:13px;height:20px;position: absolute;}
.tjBrandList .next b{left:3px;top:29px;background:url(../images/iconsIndex.png) -210px 0px no-repeat;}
.tjBrandList .prev b{left:3px;top:29px;background:url(../images/iconsIndex.png) -190px 0px no-repeat;}
.tjBrandList .prev{left:0;}
.tjBrandList .next{right:0;}
.tjBrandList .nextStop b{background:url(../images/iconsIndex.png) -210px 0px no-repeat;}
.tjBrandList .prevStop b{background:url(../images/iconsIndex.png) -190px 0px no-repeat;}
.tjBrandList .tjBrandListBd{position: absolute;left:22px;top:0;width:1155px;overflow:hidden;}
.tjBrandList .tjBrandListBd li{float:left;overflow:hidden;width:105px;height:80px;}
.tjBrandList .tjBrandListBd li:hover{cursor:pointer;}
.tjBrandList .tjBrandListBd li a:hover{filter:alpha(opacity=85);-moz-opacity:0.85;-khtml-opacity:0.85;opacity:0.85;}

/****特色专场****/
.feature .feature-tit{ position:relative; height:30px; padding-top:20px; border-bottom:1px solid #20b487;background: url(../images/titieBg.png) left bottom no-repeat;}
.feature .feature-titL{ position:absolute; top:9px;  padding-right:5px;  font-size:20px; font-weight:bold; color:#23b485; padding:5px 0; max-width: 140px; overflow: hidden;}
.feature .feature-titR{ height:2px; background:#3bb161; }
.lookB {width:70px; height:25px; line-height:25px; border:1px solid #3bb161;  display:block;}
.lookB:hover { background:#3bb161; color:#fff; text-decoration:none;}
.p-priceL{ width:50px;}
.p-price{ height:40px;}
.p-des{ height:40px; overflow:hidden;}
.buyB{ width:80px; height:25px; line-height:25px; background:#3bb161; display:block;}
.feature_content{ height:400px; overflow:hidden; border:1px solid #ddd; margin-top:10px;}
.feature_content img{ display:block;}
.feature_content img:hover{ opacity:0.9;filter:alpha(opacity:90); }
.featureC_ad01{ width:240px;}
.featureC_ad02{ width:350px;}
.featureC_ad03{ width:598px;}
.featureC_ad03 ul{overflow: hidden;}
.featureC_ad03 ul li{ width:198px; float:left;}

/*农产品*/
.floor_content{ height:550px; border:1px solid #ddd; margin-top:10px;}
.floor_content img:hover{ opacity:0.9;filter:alpha(opacity:90); }
.floor_content img{ font-size:0; display:block;}
.floorad01{ width:240px; overflow: hidden; float:left;}
.floorbg{ height:150px; width:240px; overflow: hidden;}
.floorbg .floorbg_title{ font-size:14px; color:#444;}
.floorbg .floorbg_list{ margin-top:10px;}
.floorbg .floorbg_list a{ color:#444; font-size:12px; padding:5px 8px 5px 0; display:block; float:left;}
.floorad02{ width:335px; float:left;}
.floorad03{ width:217px; float:left;}

.floor_title{ position:absolute; right:0; bottom:0; height:30px; line-height:30px; max-width:1000px; overflow:hidden;}
.floor_title li{ float:left; padding:0 15px;}
.floor_title li:hover{ color: #3bb161;}
.floor_title .title_select{ }

/***左侧浮动导航****/
.floatBar-left{z-index:99999;display:none;position:fixed;left:50%;top:50%;margin-left:-668px;}
.floor-guide{position:relative;overflow:hidden;}
.floor-guide li {position:relative;width:40px;height:40px;line-height:40px;overflow:hidden;border-top: 1px solid #eee;cursor:pointer;background:#3bb161 ;}
.floor-guide li a:hover {text-decoration:none;}
.floor-guide li a.menu{display:block;height:40px;font-size:14px;color:#fff;text-decoration:none;cursor:pointer;}
.floor-guide li span{display:none;width: 100%;height:40px;line-height:40px;text-align:center;overflow:hidden;color:#fff;}
.floor-guide li.hover{z-index:100001;background:#f5b600;}
.floor-guide li a.menu-nav{background:url(../images/menu-recruit.png) 10px center no-repeat;}
.floor-guide li a.menu-optim{background:url(../images/menu-optim.png) 10px center no-repeat;}
.floor-guide li a.menu-infor{background:url(../images/menu-infor.png) 11px center no-repeat;}
.floor-guide li a.menu-sev{background:url(../images/menu-sev.png) 10px center no-repeat;}
.floor-guide li a.menu-recruit{background:url(../images/menu-nav.png) 12px center no-repeat;}
.floor-guide li.hover,.floor-guide li.current{background: #359F57;border-top:1px solid #eee !important;}
.floor-guide li:first-child,.floor-guide li:first-child.hover,.floor-guide li:first-child.current{border-top:none !important;}
.floor-guide li.hover a,.floor-guide li.current a{display:none;}
.floor-guide li.hover span,.floor-guide li.current span{display:block;}

.posT410{position: relative;top: -410px;}
.adsBanner .adsBannerBd ul li img{height: 100%;}

/***首页改版****/
.goodsMessage{}
.goodsMessage li{ width: 236px; height: 275px;border-left: 1px solid #E4E4E4; border-bottom:1px solid #E4E4E4;overflow: hidden;float: left;}
.goodsMessage li:last-child{border-right: 1px solid #E4E4E4;}
.goodsMessage li:nth-child(4){border-right: none;}
.goodsMessage li:nth-child(5){height: 274px;border-bottom:none;}
.goodsMessage li:nth-child(6){height: 274px;border-bottom:none;}
.goodsMessage li:nth-child(7){height: 274px;border-bottom:none;}
.goodsMessage li:nth-child(8){height: 274px;border-bottom:none; border-right: none;}
.floorRight{width: 988px;height: 550px; float: left; overflow: hidden;}
.goodsMessage li div{width: 210px;margin: 0 auto; margin-bottom: 10px;}
.goodsMessage li div.goodsPic{margin-top: 10px; overflow: hidden; border: 1px; height: 180px;}
.goodsMessage li div.goodsPic img{width: 210px; height: 180px;}
.goodsMessage li div.goodsPic:hover{border: 1px solid #76ac25; margin-top: 9px; margin-bottom: 9px;}
.goodsMessage li div.goodsBuy{height: 64px;}
.goodsBuy p{overflow: hidden; white-space: nowrap;text-overflow: ellipsis;}
.goodsBuy p.info{width: 210px; height: 39px;line-height: 30px;}
.goodsBuy p.price{color: #fc5e68;width: 120px;height: 25px; vertical-align: text-bottom; font-size: 18px;}
.goodsBuy  a.buybtn{display: inline-block;padding: 5px 20px;border-radius: 2px;background: #76ac25;position: absolute;right: 0; bottom: 0; color: #fff; text-decoration: none;}
