/* page-flipping  */
ul {margin: 0;padding: 0;}
.m-pagination {margin: 10px 0;height: 28px; float:right;}
.m-pagination-page,.m-pagination-info,.m-pagination-size,.m-pagination-jump {float: left;margin-top: 2px;padding-right: 10px;}
/* font */
.m-pagination-page > li > a,
.m-pagination-size > select,
.m-pagination-group > input,
.m-pagination-group > button,
.m-pagination-info {font-size: 12px;font-family: 'Microsoft YaHei';color: #888;}
 /* border */
.m-pagination-page > li > a,.m-pagination-size > select,.m-pagination-group > input,.m-pagination-group > button {outline: none; user-select: none;-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;-khtml-user-select: none; border: 1px solid #ddd;}
/* button */
.m-pagination-page > li > a,.m-pagination-group > button {cursor: pointer;background-color: #fff;}
.m-pagination-page > li:hover > a,.m-pagination-group > button:hover {background-color: #eee;border-color: #ddd;}
/*************  pagination-page  *************/
.m-pagination-page > li {list-style: none;float: left;}
.m-pagination-page > li > a {height: 28px;line-height: 28px;margin-left: -1px;display: inline-block;padding: 0 12px;text-decoration: none;box-sizing: content-box;}
.m-pagination-page > li.active > a {color: #fff;background-color: #4a9ee6;border-color: #4a9ee6;}
.m-pagination-page > li:first-child > a {margin-left: 0;border-top-left-radius: 4px;border-bottom-left-radius: 4px;}
.m-pagination-page > li:last-child > a {border-top-right-radius: 4px;border-bottom-right-radius: 4px;}
/*************  pagination-perpage  *************/
.m-pagination-size > select {cursor: pointer;height: 36px;padding: 0px 8px;border-radius: 4px;}
/*************  pagination-go   *************/
.m-pagination-group > input,
.m-pagination-group > button {float: left;}
.m-pagination-group > input {border-top-left-radius: 4px;border-bottom-left-radius: 4px;width: 50px;height:28px;	line-height:28px;padding: 0px;text-align: center;box-sizing: content-box;}
.m-pagination-group > button {border-left: none;border-top-right-radius: 4px;border-bottom-right-radius: 4px;height: 30px;padding: 0px 12px;}
/************  pagination-info   *************/
.m-pagination-info {height: 28px;line-height: 28px;}
